@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 236, 240, 241;
  --background-start-rgb: 26, 46, 53;
  --background-end-rgb: 44, 76, 90;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
